:root{
    --primary-color: #071229; 
    --secondary-color: #718093;
    --main-color: #fbfcff;
}

@font-face {
    font-family:'ggg' ;
    src: url(./RobotoSlab-Regular.ttf);
}

h1 {
  text-align: center;
}

section h1{
    background-color:var(--primary-color);
    color: var(--main-color);
    font-size: x-large;
    padding: 5%;
    padding: 1rem; 
    border-radius: 40px 0 40px 0;
    text-align: left;
    text-align: center;

}



.main{ 
  margin-top: 4%;
  margin-bottom: 4%;
  background: rgba(0, 0, 0, 0.5); 
  color: var(--main-color);
  padding: 20px;
  border-radius: 8px;
}


nav ul  {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;


}

nav li{
    text-decoration: none;
}


body {
    background-color: #57564F;
    h4 {color :var(--main-color)} 
    background-image: url('img.softwarebg.jpg');
    color: var(--main-color);
    font-family: 'ggg';
}





footer {
        color: var(--main-color);
        background-color: var(--primary-color);
        padding: 1rem; 
        border-radius: 40px 0 40px 0;
        text-align: left;
        }
   
.container{

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 30px
}

.left-section, .right-section {
    flex: 1;
    padding: 20px;
}

.SISTIM{
    text-align: center;
    color: var(--secondary-color);
}

    
    

       